/* .active{
    left :-220px;
    
} */

th,td{
    border: 2px solid #4B5563;
    padding-left : 10px;
    text-align: center;
}

.hero{
    background : linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.9)),url(../imgs/gym-bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
